.nav_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(0, 81, 255);
    gap: 100px;
    min-height: 100px;
}

.non_active {
    color: white;
}

.active {
    color: bisque;
}

.nav_img {
    width: 100px;
}