* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.active {
  color: red;
}

.App {
  display: block;
  background-color: antiquewhite;
  font-size: 24px;
  color: black;
}